// Created by Konstantin Khvan on 9/22/18 2:17 PM

.app-bar {
    background: mediumpurple;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;

    overflow: hidden;

    display: flex;
    align-items: center;

    user-select: none;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);

    > .title {
        flex-grow: 1;
    }

    > .item {
        color: white;
        padding: 10px;
    }
}
