// Created by Konstantin Khvan on 7/26/18 6:57 PM

.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 128px;
    margin: auto;

    input, button, h2 {
        margin: 5px;
    }

    h2 {
        text-align: center;
    }
}

