// Created by Konstantin Khvan on 7/26/18 6:58 PM

.main-form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    > .header {
        background: mediumpurple;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 2em;

        overflow: hidden;

        display: flex;
        align-items: center;

        > .title {
            flex-grow: 1;
        }

        > .item {
            padding: 2px;
        }
    }

    > .content {
        margin-top: 2em;
    }
}