// Created by Konstantin Khvan on 7/26/18 6:58 PM

.main-form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    > .content {
        margin-top: 2em;

        overflow: auto;
        height: calc(100vh - 2em);

        &.hidden {
            display: none;
        }
    }
}