// Created by Konstantin Khvan on 7/26/18 7:00 PM

.news-entry {

    padding: 5px;

    .header {
        display: flex;

        a {
            padding: 5px;
            text-indent: 30px;
            text-align: justify;

            text-decoration: none;
        }
    }

    .star {
        color: lightgrey;

        &.starred {
            color: gold;
        }
    }

    .date {
        padding: 5px;
    }

    .content {
        padding: 5px;
        text-indent: 30px;
        text-align: justify;
    }
}