// Created by Konstantin Khvan on 8/4/18 4:22 PM

.modal-root {
    user-select: none;

    .modal-glass {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: black;
        opacity: 0.3;
    }

    .modal-content {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .confirm {
            display: flex;
            background: white;
            flex-direction: column;

            max-height: 300px;

            min-width: 250px;

            padding: 5px;

            .content {
                padding: 10px;
            }

            .buttons {
                display: flex;

                justify-content: flex-end;

                color: blue;

                .btn {
                    padding: 10px;
                }
            }
        }
    }
}